* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #17375c;
}

.topnav .icon {
  margin-left: 10%;
  padding: 8px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #17375c;
  color: black;
}

.topnav a.active {
  background-color: #17375c;
  margin-left: 30px;
  color: white;
}

.topnav a.profile img {
  border-radius: 50%;
}

.topnav .search-container {
  float: left;
  margin-right: 10%;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.content {
  width: 50%;
  margin: 4px 25% 4px 25%;
  background-color: #aeb3b8;
  border-radius: 5px;
  padding: 4px;
}

.content .content-1 {
  padding: 0px;
  border: 1px solid #aeb3b8;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}

.content .content-1 .content-head {
  padding: 2%;
}

.content .content-1 .content-head a img {
  float: right;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}

.content .content-1 .content-body .content-head a img {
  float: right;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}

.content .content-1 .content-body {
  padding: 20px;
  height: 100px;
}

.content .content-1 .content-body a img {
  border-radius: 5px;
  float: left;
}

.content .content-1 .content-body .image-side {
  width: 130px;
  height: 60px;
  margin-left: 10px;
  margin-top: 0px;
  float: left;
}

.content .content-1 .content-body .image-side b, p {
  line-height: 0.5;
  font-size: 0.8em;
}

.content .content-1 .content-body .side {
  width: 70px;
  height: 60px;
  float: right;
}

span {
  color: #cfd4d1;
}

.content .content-1 .text {
  padding: 5px 20px;
}

.content .content-1 .content-1-foot {
  padding: 20px;
}

.content .content-1 .content-1-foot a {
  padding-right: 10px;
}

.content .content-1 .content-1-foot a img {
  vertical-align: middle;
}
